@import "../styles/mixins.scss";

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    font-weight: 600;
    background-color: var(--blue);
    padding: 8px 12px;
    @include flexbox(space-between, center);
    @include hover();

    .brand {
        color: red;
        @include flexbox(space-between, center);

    }

    .menu {
        ul {
            list-style: none;

            li {
                padding: 8px 12px;
                display: inline-block;

            }
        }
    }

}

.section {
    min-height: 1vh;
}

.hero {
    position: relative;

    img {
        filter: brightness(.23);
    }
    .hero-content {
        position: relative;
        .hero-title {
            position: absolute;
            left: 120px;
            top: 150px;
            color: var(--white);
            font-size: 72px;
            max-width: 900px;
            z-index: 1;
        }
        .hero-text{
            p{
                color: var(--white);
            }
            span{
                color: var(--red);
            }
            position: absolute;
            left: 170px;
            top: 500px;
            color: var(--white);
            font-size: 24px;
            z-index: 1;

        }
    }
}
