@import "../styles/mixins.scss";

nav {
    position: sticky;
    top: -2px;
    left: 0;
    z-index: 2;
    width: 100%;
    font-weight: 600;
    background-color: var(--blue);
    padding: 8px 12px;
    @include flexbox(space-between, center);
    @include hover();


    .brand {
        color: red;
        @include flexbox(space-between, center);

    }

    .menu {
        @include responsive(m) {
            opacity: 0;
            visibility: hidden;
            @include hover();
        }

        ul {
            list-style: none;

            li {
                padding: 8px 12px;
                display: inline-block;

            }
        }
    }

    input[type=checkbox] {
        position: fixed;
        width: 200px;
        height: 200px;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked~.menu {
            visibility: visible;
            opacity: 1;
            position: relative;
            right: 0;
            top: 0;
        }




    }

}

.section {
    min-height: 1vh;
}

.hero {
    position: relative;

    img {
        filter: brightness(.23);
    }

    .hero-content {
        position: relative;

        .hero-title {
            @include responsive(l) {
                font-size: 39px;
                top: 190px;
            }

            @include responsive(t) {
                font-size: 39px;
                top: 190px;
                width: 500px;
            }

            @include responsive(m) {
                font-size: 20px;
                top: 19px;
                width: 300px;
            }

            position: absolute;
            left: 120px;
            top: 150px;
            color: var(--white);
            font-size: 72px;
            max-width: 900px;
            z-index: 1;
        }

        .hero-text {
            p {
                color: var(--white);
            }

            span {
                color: var(--red);
            }

            @include responsive(l) {
                top: 50px;
            }

            @include responsive(m) {
                top: 106px;
                left: 15%;
                font-size: 12px;
            }

            position: absolute;
            left: 170px;
            top: 500px;
            color: var(--white);
            font-size: 24px;
            z-index: 1;

        }
    }
}

.about {
    @include flexbox(space-around, flex-start);
    padding-top: 120px;
    flex-wrap: wrap;

    .image {
        position: relative;

        img {
            margin-left: 20%;
            width: 459px;
            height: 459px;

            @include responsive(m) {
                margin: 0;
                width: 320px;
            }
        }

        .experience {
            position: absolute;
            width: 263px;
            bottom: -42px;
            left: 20%;
            background-color: var(--blue-d);

            span {
                color: var(--red);
            }

            h1 {
                font-size: 42px;
                width: 100%;
                padding: 42px 24px;
                color: var(--white);
            }
        }
    }

    .about-us {
        width: 47%;

        h1 {
            color: var(--white);
            font-size: 32px;
            padding: 12px 0;
        }

        p {
            color: var(--blue-l);
        }
    }
}

.services {
    margin-top: 92px;
    text-align: center;

    h1 {
        padding: 24px 12px;
        color: var(--white);
    }

    .centainer {
        @include flexbox();
        flex-wrap: wrap;

        .card {
            margin: 12px;
            display: inline-block;
            background-color: var(--blue-d);
            width: 400px;
            position: relative;
            @include flexbox(space-around, flex-start);

            img {
                margin-top: 32px;
                background-color: var(--black);
                padding: 18px;
            }

            h2 {
                padding: 12px;
                color: var(--white);
            }

            p {
                width: 72%;
                text-align: start;
                padding: 12px 24px;
                color: var(--blue-l);

                &:last-child {
                    padding-bottom: 24px;
                    color: var(--red);
                }
            }

            .add {
                cursor: pointer;
                z-index: 0;
                width: 52px;
                height: 52px;
                padding: 12px;
                position: absolute;
                color: var(--red);
                background-color: var(--black);
                right: 0;
                bottom: 0;
                opacity: 0;
                @include hover(all, .3s);
            }

            &:hover>.add {
                opacity: 1;
            }
        }
    }
}

.price-plan {
    .row {
        padding: 0;
        margin: auto;
        margin-top: 64px;
        width: 88%;
        background-color: var(--blue-d);
        align-items: flex-start;

        .col:first-child {
            padding: 0px 54px;

            @include responsive(m) {
                padding: 0;
            }

            .section-title {
                margin-top: 24px;
            }

            .title {
                padding: 16px 0;
            }

            table {
                margin-top: 24px;
                border-collapse: collapse;
                width: 100%;

                span {
                    color: var(--red);
                }

                tr {
                    td {
                        padding: 16px;
                        border-bottom: 1px solid var(--blue-l);
                    }

                }

            }
        }

        .col {
            img {
                width: 100%;
            }
        }
    }

    h1,
    h2,
    h3,
    h4 {
        color: var(--white);

    }
}

.our-barber {
    margin-top: 58px;
    text-align: center;

    h1 {
        padding: 24px;
        color: var(--white);
    }

    .container {
        padding: 0 70px;
        @include flexbox(space-around, center);
        flex-wrap: wrap;
        justify-content: space-around;

        @include responsive(t) {
            justify-content: space-around;
            flex-direction: column;
        }

        @include responsive(m) {
            padding: 0;
        }

        .card {
            margin: 12px;
            width: 300px;
            height: 400px;
            position: relative;

            .img {
                position: relative;
                width: 300px;
                height: 300px;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 0;
                    z-index: 1;
                    height: 100%;
                    display: inline-block;
                    background-color: rgba(black, .8);
                    @include hover();

                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }

            }

            &:hover .img::after,
            &:hover .img::before {
                width: 50%;
            }

            &:hover .social {
                opacity: 1;
            }

            .descripton {
                background-color: var(--blue-d);

                h3 {
                    color: var(--white);
                    margin: 0;
                    padding: 12px 2px;
                }

                span {
                    color: var(--red);
                    display: inline-block;
                    padding: 12px 2px;
                }
            }

            .social {
                position: absolute;
                top: 125px;
                left: 112px;
                opacity: 0;
                color: var(--red);
                z-index: 1;
                @include hover(all, .4s, cubic-bezier(1, -0.01, 1, .67));
            }
        }
    }
}

.testimonial {
    margin-top: 72px;
    padding: 12px 70px;
    color: var(--white);
    text-align: center;

    h1 {
        margin: 24px 12px;
    }

    .content {
        margin: 70px 2px;

        p {
            margin: auto;
            margin-top: 24px;
            width: 50%;
            color: var(--blue-l);
        }
    }
}

.footer {
    background-color: var(--blue-d);
    padding: 70px 27px 46px 12px;
    @include flexbox(space-around, flex-start);
    flex-wrap: wrap;

    h2 {
        color: var(--white);
        padding: 12px;
    }

    p {
        padding: 12px;
        ;
        color: var(--blue-l);
        vertical-align: middle;

        a {
            text-decoration: none;

            i {
                padding-right: 4px;
                color: var(--red);
                opacity: 0;
                @include hover();
            }

            &:hover i {
                opacity: 1;
            }

            &:hover {

                transform: scale(2);
            }

        }

    }

    span {
        margin-right: 8px;
        background-color: var(--black);
        color: var(--red);
        padding: 8px;
    }

    .m36 {
        margin: 12px;
    }

    .txtinput {
        position: relative;

        .btn {
            position: absolute;
            right: 3px;
            top: 3px;
        }

        input {
            outline: none;
            border: none;
            padding: 12px;
            width: 300px;
            border: 4px solid transparent;

            &:focus {
                border: 4px solid rgba(red, .4);
            }
        }
    }
}

.dev {
    background-color: var(--blue-d);
}

.up {
    background-color: var(--red);
    color: var(--white);
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 60px;
    right: 60px;
    opacity: 0;
    visibility: hidden;
    @include hover();
    cursor: pointer;

    a {
        &:hover {
            color: var(--white);
        }
    }

    span {
        padding: 18px;
    }
}

.up.active {
    opacity: 1;
    visibility: visible;
}