<nav>
    <div class="brand">
        <span class="material-symbols-outlined">
            cut
        </span>
        <h1>HAIRCUT</h1>
    </div>
    <div class="menu">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">SERVICE</a></li>
            <li><a href="">PAGES</a></li>
            <li><a href="">CONTACT</a></li>
            <li>
                <a class="btn" href="">
                    APPOINTMENT
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<section>
    <div id="hero" class="hero">
        <owl-carousel-o [options]="heroOptions">
            <ng-container>
                <ng-template carouselSlide>
                    <div class="hero-content">
                        <h1 class="hero-title">
                            WE WILL KEEP YOU AN AWESOME LOOK
                        </h1>
                        <div class="hero-text">
                            <p class="">
                                <span class="material-symbols-outlined">
                                    pin_drop
                                </span>
                                123 STREET, NEW YORK, USA
                            </p>
                            <p>
                                <span class="material-symbols-outlined">
                                    call
                                </span>
                                +012 345 67890
                            </p>
                        </div>
                    </div>
                    <img src="assets/carousel.jpg">
                </ng-template>
            </ng-container>
            <ng-container>
                <ng-template carouselSlide>
                    <div class="hero-content">
                        <h1 class="hero-title">
                            <span class="material-symbols-outlined">
                                call
                            </span>LUXURY HAIRCUT AT AFFORDABLE PRICE
                        </h1>
                        <div class="hero-text">
                            <p class="">
                                <span class="material-symbols-outlined">
                                    pin_drop
                                </span>
                                123 STREET, NEW YORK, USA
                            </p>
                            <p>
                                <span class="material-symbols-outlined">
                                    call
                                </span>
                                +012 345 67890
                            </p>
                        </div>

                    </div>
                    <img src="assets/carousel-1.jpg">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<section>
    <div class="about">
        <div class="image">
            <img src="assets/about.jpg" alt="">
            <div class="experience">
                <h1><span>25 Years</span> Experience </h1>
            </div>
        </div>
        <div class="about-us">
            <div class="section-title">About Us</div>
            <div class="row">
                <h1>MORE THAN JUST A HAIRCUT. LEARN MORE ABOUT US!</h1>
            </div>
            <div class="row">
                <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
                    ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            </div>
            <div class="row">
                <p>Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum.
                    Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos.</p>
            </div>
            <div class="row">
                <div class="col">
                    <h1>SINCE 1990</h1>
                    <p>
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                    </p>
                </div>
                <div class="col">
                    <h1>1000+ CLIENTS</h1>
                    <p>
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="services">
        <div class="section-title">Services</div>
        <h1>WHAT WE PROVIDE</h1>
        <div class="centainer">
            <div *ngFor="let service of services" class="card">
                <div class="icon">
                    <img [src]="service.iconName" alt="" srcset="">
                </div>
                <div class="card-body">
                    <h2>{{service.title}}</h2>
                    <p>{{service.body}}</p>
                    <p>{{service.price}}</p>
                </div>
                <div class="add">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="price-plan">
        <div class="row">
            <div class="col">
                <div class="section-title section-tite-dark">
                    Price & Plan
                </div>
                <div class="title">
                    <h1>CHECK OUT OUR BARBER SERVICES AND PRICES</h1>
                </div>
                <table>
                    <tr *ngFor="let plan of prices">
                        <td>
                            <h4>{{plan.service}}</h4>
                        </td>
                        <td>
                            <span>{{plan.price|currency}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <img src="assets/price.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="our-barber">
        <div class="section-title">
            Our Barber
        </div>
        <div class="title">
            <h1>MEET OUR BARBER</h1>
            <div class="container">
                <div *ngFor="let barber of ourTeam" class="card">
                    <div class="img"><img [src]="barber.img"></div>
                    <div class="descripton">
                        <h1>{{barber.name}}</h1>
                        <span>{{barber.designation}}</span>
                    </div>
                    <div class="social">
                        <div class="item">
                            facebook
                        </div>
                        <div class="item">tweeter</div>
                        <div class="item">instagram</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="price-plan">
        <div class="row reverse">
            <div class="col">
                <div class="section-title section-tite-dark">
                    Working Hours
                </div>
                <div class="title">
                    <h1>PROFESSIONAL BARBERS ARE WAITING FOR YOU</h1>
                </div>
                <table>
                    <tr *ngFor="let plan of workingHurs">
                        <td>
                            <h4>{{plan.week}}</h4>
                        </td>
                        <td>
                            <span style="color: var(--white);">{{plan.hour}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <img src="assets/open.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="testimonial">
        <div class="section-title">Testimonioal</div>
        <h1>WHAT OUR CLIENTS SAY!</h1>
        <owl-carousel-o [options]="testimonialOptions">
            <ng-container>
                <ng-template carouselSlide>
                    <div class="content">
                        <div class="head">
                            <h2>Client Name</h2>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea natus assumenda saepe. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem at totam commodi dolore
                            culpa velit, molestiae facilis qui quasi libero voluptas sequi.</p>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container>
                <ng-template carouselSlide>
                    <div class="content">
                        <div class="head">
                            <h2>Client Name</h2>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea natus assumenda saepe. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem at totam commodi dolore
                            culpa velit, molestiae facilis qui quasi libero voluptas sequi.</p>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<footer>
    <div class="footer">
        <div class="in-touch">
            <h2>Get in touch</h2>
            <p><span class="material-symbols-outlined">
                    pin_drop
                </span> 123 Street, New York, USA</p>
            <p><span class="material-symbols-outlined">
                    call
                </span>+998974908957</p>
            <p><span class="material-symbols-outlined">
                    drafts
                </span>uchqunovsamandar31@gmail.com</p>
        </div>
        <div class="links">
            <h2>Quick links</h2>
            <p><a href=""><i>></i> About us</a></p>
            <p><a href=""><i>></i>Contact us</a></p>
            <p><a href=""><i>></i>Our Services</a></p>
            <p><a href=""><i>></i>Teams</a></p>
            <p><a href=""><i>></i>Support</a></p>
        </div>
        <div class="newsletter">
            <h2>News Letter</h2>
            <div class="txtinput">
                <div class="btn">Sign Up</div>
                <input type="text" name="" id="">
            </div>
            <span class="material-symbols-outlined">
                drafts
            </span><span class="m36 material-symbols-outlined">
                drafts
            </span><span class="m36 material-symbols-outlined">
                drafts
            </span><span class="m36 material-symbols-outlined">
                drafts
            </span>
        </div>
    </div>
    <div class="dev">
        <div class="name">
            Designer:Samandar
        </div>
    </div>
</footer>
<div class="up">
   <a href="#hero"> <span class="m36 material-symbols-outlined">
    arrow_upward
</span></a>
</div>