<nav>
    <div class="brand">
        <span class="material-symbols-outlined">
            cut
        </span>
        <h1>HAIRCUT</h1>
    </div>
    <div class="menu">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">SERVICE</a></li>
            <li><a href="">PAGES</a></li>
            <li><a href="">CONTACT</a></li>
            <li>
                <a class="btn" href="">
                    APPOINTMENT
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<section>
    <div class="hero">
        <owl-carousel-o [options]="heroOptions">
            <ng-container>
                <ng-template carouselSlide>
                    <div class="hero-content">
                        <h1 class="hero-title">
                            WE WILL KEEP YOU AN AWESOME LOOK
                        </h1>
                        <div class="hero-text">
                            <p class="">
                                <span class="material-symbols-outlined">
                                    pin_drop
                                </span>
                                123 STREET, NEW YORK, USA
                            </p>
                            <p>
                                <span class="material-symbols-outlined">
                                    call
                                </span>
                                +012 345 67890
                            </p>
                        </div>
                    </div>
                    <img src="assets/carousel.jpg">
                </ng-template>
            </ng-container>
            <ng-container>
                <ng-template carouselSlide>
                    <div class="hero-content">
                        <h1 class="hero-title">
                            <span class="material-symbols-outlined">
                                call
                            </span>LUXURY HAIRCUT AT AFFORDABLE PRICE
                        </h1>
                        <div class="hero-text">
                            <p class="">
                                <span class="material-symbols-outlined">
                                    pin_drop
                                </span>
                                123 STREET, NEW YORK, USA
                            </p>
                            <p>
                                <span class="material-symbols-outlined">
                                    call
                                </span>
                                +012 345 67890
                            </p>
                        </div>

                    </div>
                    <img src="assets/carousel-1.jpg">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<section>
    <div class="about">
        <div class="image">
            <img src="assets/about.jpg" alt="">
            <div class="experience">
                <h1><span>25 Years</span> Experience </h1>
            </div>
        </div>
        <div class="about-us">
            <div class="section-title">About Us</div>
            <div class="row">
                <h1>MORE THAN JUST A HAIRCUT. LEARN MORE ABOUT US!</h1>
            </div>
            <div class="row">
                <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
                    ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            </div>
            <div class="row">
                <p>Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum.
                    Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos.</p>
            </div>
            <div class="row">
                <div class="col">
                    <h1>SINCE 1990</h1>
                    <p>
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                    </p>
                </div>
                <div class="col">
                    <h1>1000+ CLIENTS</h1>
                    <p>
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="services">
        <div class="section-title">Services</div>
        <h1>WHAT WE PROVIDE</h1>
        <div class="centainer">
            <div *ngFor="let service of services" class="card">
                <div class="icon">
                    <img [src]="service.iconName" alt="" srcset="">
                </div>
                <div class="card-body">
                    <h2>{{service.title}}</h2>
                    <p>{{service.body}}</p>
                    <p>{{service.price}}</p>
                </div>
                <div class="add">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="price-plan">
        <div class="row">
            <div class="col">
                <div class="section-title section-tite-dark">
                    Price & Plan
                </div>
                <div class="title">
                    <h1>CHECK OUT OUR BARBER SERVICES AND PRICES</h1>
                </div>
                <table>
                    <tr *ngFor="let plan of prices">
                        <td>
                            <h4>{{plan.service}}</h4>
                        </td>
                        <td>
                            <span>{{plan.price|currency}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <img src="assets/price.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="our-barber">
        <div class="section-title">
            Our Barber
        </div>
        <div class="title">
            <h1>MEET OUR BARBER</h1>
            <div class="container">
                <div class="card">
                    <div class="img"><img src="assets/team-1.jpg" alt=""></div>
                    <div class="descripton">
                        <h1>Fredorica</h1>
                        <span>Designation</span>
                    </div>
                    <div class="social">
                        <div class="item">
                            p
                        </div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>